<div class="terms-container">
    <div class="terms-container__title">
        <h2>Quais são nossos termos?</h2>
    </div>
  
    <div class="terms-container__body">
        <p>O piloto precisa atender aos seguintes requisitos formais:</p>
        <ul>
            <li>Possuir CHT Comercial e IFR.</li>
            <li>Possuir ICAO (se aplicável, será exibido no perfil do piloto).</li>
            <li>Possuir MLTE (se aplicável, será exibido no perfil do piloto).</li>
            <li>Possuir CMA válido.</li>
        </ul>
    </div>
</div>
  