<div class="interests-container">
    <div class="content__title">Interessados</div>
  
    <div *ngIf="interests.length > 0" class="interest-grid">
      <div *ngFor="let user of interests" class="interest-card" [class.already-interested]="user.isAccepted">
        <img
          src="assets/images/user.png"
          alt="Foto do usuário"
          class="user-avatar"
        />
  
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Telefone:</strong> {{ user.phone }}</p>
  
        <app-button-primary 
        label="Aceitar" 
        [isLoading]="loadingAccept"
        [isDisabled]="someoneAccepted"
        *ngIf="!someoneAccepted"
        (click)="acceptInterest(user.userId)" 
        ></app-button-primary>

        <span *ngIf="user.isAccepted" class="accepted-label">Aceito ✅</span>
      </div>
    </div>
</div>
@if (interests.length == 0) {
  <div class="no-flight-forms">
    <h3>Nenhum usuário ainda demonstrou interesse!</h3>
  </div>
}