<div class="login">
    <div class="login__container">
      <!-- Lado institucional -->
      <div class="login__info-container">
        <div class="login__info-content">
          <h1>Recuperar senha</h1>
          <p>Informe seu e-mail para receber um código de verificação e redefinir sua senha.</p>
        </div>
      </div>
  
      <!-- Lado do formulário -->
      <div class="login__form-container">
        <form [formGroup]="form">
          <ng-container [ngSwitch]="step">
  
            <!-- Etapa 1: E-mail -->
            <ng-container *ngSwitchCase="1">
              <h3 class="login__usuario">E-mail</h3>
              <app-input-text [form]="form" name="email"></app-input-text>
  
              <div class="login__login">
                <app-button-primary
                  label="Enviar código"
                  [customWidth]="'100%'"
                  (clickEvent)="onSendCode()"
                  [isLoading]="isLoading"
                ></app-button-primary>
              </div>
            </ng-container>
  
            <!-- Etapa 2: Código -->
            <ng-container *ngSwitchCase="2">
              <h3 class="login__usuario">Código de verificação</h3>
              <app-input-text [form]="form" name="code"></app-input-text>
  
              <div class="login__login">
                <app-button-primary
                  label="Validar código"
                  [customWidth]="'100%'"
                  (clickEvent)="onValidateCode()"
                  [isLoading]="isLoading"
                ></app-button-primary>
              </div>
            </ng-container>
  
            <!-- Etapa 3: Nova senha -->
            <ng-container *ngSwitchCase="3">
              <h3 class="login__usuario">Nova senha</h3>
              <app-input-text [form]="form" name="newPassword" type="password"></app-input-text>
  
              <h3 class="login__senha">Confirmar senha</h3>
              <app-input-text [form]="form" name="confirmPassword" type="password"></app-input-text>
  
              <div class="login__login">
                <app-button-primary
                  label="Redefinir senha"
                  [customWidth]="'100%'"
                  (clickEvent)="onResetPassword()"
                  [isLoading]="isLoading"
                ></app-button-primary>
              </div>
            </ng-container>
  
          </ng-container>
  
          <div class="login__signup">
            <span>Lembrou da senha?</span>
            <a [routerLink]="'/login'">Voltar para o login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <app-toast-list></app-toast-list>
  