<nav *ngIf="isMenuVisible" [class.mobile-menu]="isMobileMenuOpen" [ngClass]="{'menu-open': isMobileMenuOpen}">
    <div class="menu-container">
      <div class="menu-brand">
        <a href="#">FlySic</a>
        <button class="mobile-toggle" (click)="toggleMobileMenu()">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      
      <ul class="menu-items">
        <li *ngIf="isDonor"><a routerLink="/flight-form">Ficha de voo</a></li>
        <li *ngIf="isDonor"><a routerLink="/my-flights">Minhas fichas</a></li>
        <li><a routerLink="/configurations">Configurações</a></li>
        <li><a routerLink="#" (click)="logout()">Sair</a></li>
      </ul>
    </div>
</nav>