@import "../../../../assets/styles/colors";

.password-container {
  max-width: 500px;
  width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  
  /* Novo - Centralização vertical */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin-bottom: 2rem;
    color: var(--CSO_Warning_70);
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    .input-label {
      margin: 0;
      color: var(--CSO_White);
      font-family: 'Din Pro';
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}