<div class="password-container">
  <h2>Alterar Senha</h2>
  
  <form [formGroup]="passwordForm" class="password-form">
    <!-- Senha Atual -->
    <div class="input-group">
      <h3 class="input-label">Senha antiga</h3>
      <app-input-text 
        [form]="passwordForm" 
        name="currentPassword" 
        type="password"
      ></app-input-text>
    </div>

    <!-- Nova Senha -->
    <div class="input-group">
      <h3 class="input-label">Nova senha</h3>
      <app-input-text 
        [form]="passwordForm" 
        name="newPassword" 
        type="password"
      ></app-input-text>
    </div>

    <!-- Confirmar Senha -->
    <div class="input-group">
      <h3 class="input-label">Confirme a senha</h3>
      <app-input-text 
        [form]="passwordForm" 
        name="confirmPassword" 
        type="password"
      ></app-input-text>
    </div>

    <!-- Botão de Envio -->
    <app-button-secondary
      label="Alterar Senha"
      [customWidth]="'100%'"
      (clickEvent)="onSubmit()"
      [isLoading]="isLoading"
      [isDisabled]="passwordForm.invalid"
    ></app-button-secondary>
  </form>
</div>
<app-toast-list></app-toast-list>