<div class="interests-container">
    <h3>Interessados</h3>
  
    <div *ngIf="interests.length > 0; else noInterests" class="interest-grid">
      <div *ngFor="let user of interests" class="interest-card" [class.already-interested]="user.isAccepted">
        <img
          src="assets/images/user.png"
          alt="Foto do usuário"
          class="user-avatar"
        />
  
        <p><strong>Nome:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Telefone:</strong> {{ user.phone }}</p>
  
        <app-button-primary 
        label="Aceitar" 
        [isLoading]="loadingAccept"
        [isDisabled]="someoneAccepted"
        *ngIf="!someoneAccepted"
        (click)="acceptInterest(user.userId)" 
        ></app-button-primary>

        <span *ngIf="user.isAccepted" class="accepted-label">Aceito ✅</span>
      </div>
    </div>
  
    <ng-template #noInterests>
      <p>Nenhum interessado neste voo ainda.</p>
    </ng-template>
</div>