h1, h2, h3, h4, h5, h6 {
    font-family: 'DIN Pro';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    // background-color: #121212; // Ou o mesmo tom escuro que você usa
    color: #ccc;
}