:root {
    --CSO_Primary_170: #3c0f3c;
    --CSO_Primary_100: #781e77;
    --CSO_Primary_90: #873786;
    --CSO_Primary_80: #965095;
    --CSO_Primary_70: #a569a4;
    --CSO_Primary_60: #b482b3;
    --CSO_Primary_50: #c39bc3;
    --CSO_Primary_40: #d2b4d2;
    --CSO_Primary_30: #e1cde1;
    --CSO_Primary_20: #f0e6f0;
  
    --CSO_Secondary_170: #03626f;
    --CSO_Secondary_160: #0492a7;
    --CSO_Secondary_100: #05c3de;
    --CSO_Secondary_90: #21cae2;
    --CSO_Secondary_80: #3dd0e5;
    --CSO_Secondary_70: #58d7e9;
    --CSO_Secondary_60: #74deed;
    --CSO_Secondary_50: #90e4f0;
    --CSO_Secondary_40: #acebf4;
    --CSO_Secondary_30: #c7f2f8;
    --CSO_Secondary_20: #e3f8fb;
  
    --CSO_Danger_100: #f92415;
    --CSO_Danger_90: #fa3c2f;
    --CSO_Danger_80: #fa5549;
    --CSO_Danger_70: #fb6d63;
    --CSO_Danger_60: #fc857d;
    --CSO_Danger_50: #fc9e97;
    --CSO_Danger_40: #fdb6b1;
    --CSO_Danger_30: #fececb;
    --CSO_Danger_20: #fee7e5;
  
    --CSO_Warning_100: #f47920;
    --CSO_Warning_90: #f58839;
    --CSO_Warning_80: #f69752;
    --CSO_Warning_70: #f8a66a;
    --CSO_Warning_60: #f9b583;
    --CSO_Warning_50: #fac39c;
    --CSO_Warning_40: #fbd2b5;
    --CSO_Warning_30: #fde1cd;
    --CSO_Warning_20: #fef0e6;
  
    --CSO_Success_100: #00b900;
    --CSO_Success_90: #1cc11c;
    --CSO_Success_80: #39c939;
    --CSO_Success_70: #55d055;
    --CSO_Success_60: #71d871;
    --CSO_Success_50: #8ee08e;
    --CSO_Success_40: #aae8aa;
    --CSO_Success_30: #c6efc6;
    --CSO_Success_20: #e3f7e3;
  
    --CSO_Links_100: #3fbfd0;
    --CSO_Links_90: #1ca9bc;
    --CSO_Links_80: #39b4c5;
    --CSO_Links_70: #55becd;
    --CSO_Links_60: #71c9d5;
    --CSO_Links_50: #8ed4de;
    --CSO_Links_40: #aadfe6;
    --CSO_Links_30: #c6e9ee;
    --CSO_Links_20: #e3f4f7;
  
    --CSO_Neutral_170: #343434;
    --CSO_Neutral_100: #666666;
    --CSO_Neutral_90: #777777;
    --CSO_Neutral_80: #888888;
    --CSO_Neutral_70: #999999;
    --CSO_Neutral_60: #aaaaaa;
    --CSO_Neutral_50: #bbbbbb;
    --CSO_Neutral_40: #cccccc;
    --CSO_Neutral_30: #dddddd;
    --CSO_Neutral_20: #eeeeee;
  
    --CSO_Alert: #e6e6e6;
  
    --CSO_Background: #f6f9fa;
  
    --CSO_White: #ffffff;
  }