@font-face {
    font-family: 'DIN Pro';
    font-display: auto;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
    src:
      url('../fonts/DINPro-Black.eot') format('opentype'),
      url('../fonts/DINPro-Black.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DIN Pro';
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src:
      url('../fonts/DINPro-Bold.eot') format('opentype'),
      url('../fonts/DINPro-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DIN Pro';
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src:
      url('../fonts/DINPro-Medium.eot') format('opentype'),
      url('../fonts/DINPro-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DIN Pro';
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src:
      url('../fonts/DINPro-Regular.eot') format('opentype'),
      url('../fonts/DINPro-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DIN Pro';
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src:
      url('../fonts/DINPro-Light.eot') format('opentype'),
      url('../fonts/DINPro-Light.ttf') format('truetype');
  }