@use '@angular/material' as mat;

@include mat.core();

$RBS-Angular-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($RBS-Angular-theme);
}

@import './colors';
@import './elevation';
@import './fonts';
@import './typography';

html,
body {
  min-height: 100%;
}

// html {
//   min-height: 100%;
//   background: linear-gradient(135deg, #1a1a1a, #2c2c2c);
// }

body {
  background: linear-gradient(135deg, #1a1a1a, #2c2c2c) fixed !important;
  background-repeat: no-repeat;
  background-size: cover; 
  // min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'DIN Pro', sans-serif;
  background: inherit;
  color: #ccc;
  overflow-x: hidden;
}

// :host {
//   display: block;
//   min-height: 100vh;
// }

h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN Pro', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
