@import "../../../../../assets/styles/colors";
@import "../../../../../assets/styles/typography";

:host {
    display: contents;
}

.row {
    color: var(--CSO_Neutral_100);
    font: 400 16px 'DIN Pro', sans-serif;
}

.cso-calendar-main__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #343434;
    opacity: 0.8;
    z-index: 9999;
}

.cso-calendar-main__selection {
    width: 100%;
    height: 48px;

    [type="text"] {
        background: var(--CSO_White);
        box-sizing: border-box;
        border: 1px solid var(--CSO_Neutral_40);
        border-radius: 6px;
        width: 100%;
        height: 48px;
        padding-left: 16px;
        line-height: 48px;
        outline: none;
        padding-right: 36px;
        position: relative;
        @include CSO_Body_1_Bold;
        color: var(--CSO_Neutral_100);
    }

    .arrow-content {
        position: absolute;
        top: 0;
        right: 15px;
        height: 48px;
        width: 54px;
        padding-left: 19px;
        background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--CSO_White) 32%);
        border: 1px solid var(--CSO_Neutral_40);
        border-left: 0;
        border-radius: 0 6px 6px 0;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        img {
            margin-top: 19px;
            pointer-events: none;
        }
    }

    &.has-value {
        .arrow-content {
            border-width: 2px;
            border-color: var(--CSO_Neutral_100);
        }
    }
}

.cso-calendar-main__content {
    transition: opacity 0.2s ease-in;
    opacity: 0;
    pointer-events: none;
    position: relative;
    z-index: 10000;
    
    &--open {
        pointer-events: auto;
        opacity: 1;
    }
}
